<% if(theme === "bootstrap") { %>

    <div class="mt-5 text-center">

        <a href="?theme=bulma" class="btn btn-secondary">Switch To Bulma</a>

        <a class="btn btn-warning" target="_blank" href="https://xpresserjs.com">
            Documentation
        </a>

    </div>

<% } else { %>

    <div class="mvh-10 has-text-centered">

        <a href="?theme=bootstrap" class="button is-dark">
            Switch To Bootstrap
        </a>

        <a class="button is-warning" target="_blank" href="https://xpresserjs.com">
            Documentation
        </a>
    </div>

<% } %>
