<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= ctx.config('name') %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <style>
        html, body {
            width: 100%;
            height: 100%;
            background: #1f1e1e;
        }

        body {
            margin: 0;
        }

        .mvh-10 {
            margin-top: 10vh;
        }

        .ml-3 {
            margin-left: 20px;
        }
    </style>
</head>
